.grey {
  background: #e6e6e6;
  color: #36362c;
}
.grey #reset {
  background: #378187;
  box-shadow: inset 0px -4px 0px #1b6066;
  color: #ffffff;
}

.grey #reset:hover {
  background: #62b5bc;
  box-shadow: inset 0px -4px 0px #1b6066;
}
.grey #equal {
  background: #c85402;
  box-shadow: inset 0px -4px 0px #873901;
  color: #ffffff;
}
.grey #equal:hover {
  background: #ff8a38;
  box-shadow: inset 0px -4px 0px #873901;
}
.grey .section2 {
  background: #d2cdcd;
}

.grey #screen {
  background: #eeeeee;
  color: #36362c;
}

.grey #range {
  background: #d2cdcd;
}
.grey #range::-webkit-slider-thumb {
  background: #c85402;
}
.grey #range::-webkit-slider-thumb:hover {
  background: #ff8a38;
}
.grey .square {
  background: #e5e4e1;
  box-shadow: inset 0px -4px 0px #a79e91;
  border-radius: 5px;
  color: #36362c;
}
.grey .square:hover {
  background: #ffffff;
  box-shadow: inset 0px -4px 0px #a79e91;
}

.grey .square4 {
  background: #378187;
  box-shadow: inset 0px -4px 0px #1b6066;
  color: #ffffff;
}

.grey .square4:hover {
  background: #62b5bc;
  box-shadow: inset 0px -4px 0px #1b6066;
}
